In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Barrow,US,2022-09-13 15:25:36,71.2906,-156.7887,35.62,93,100,26.46
1,1,Caravelas,BR,2022-09-13 15:30:06,-17.7125,-39.2481,81.95,51,6,10.18
2,2,Faya,SA,2022-09-13 15:30:06,18.3851,42.4509,82.51,55,77,8.19
3,3,Lincoln,US,2022-09-13 15:28:06,40.8000,-96.6670,77.14,59,0,4.61
4,4,Casambalangan,PH,2022-09-13 15:30:07,18.3765,122.1274,79.38,81,73,2.64

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Caravelas,BR,2022-09-13 15:30:06,-17.7125,-39.2481,81.95,51,6,10.18
2,2,Faya,SA,2022-09-13 15:30:06,18.3851,42.4509,82.51,55,77,8.19
3,3,Lincoln,US,2022-09-13 15:28:06,40.8000,-96.6670,77.14,59,0,4.61
4,4,Casambalangan,PH,2022-09-13 15:30:07,18.3765,122.1274,79.38,81,73,2.64
9,9,Arraial Do Cabo,BR,2022-09-13 15:30:10,-22.9661,-42.0278,82.36,78,40,11.50
14,14,Georgetown,MY,2022-09-13 15:28:57,5.4112,100.3354,81.95,85,20,3.44
20,20,Carlsbad,US,2022-09-13 15:26:31,33.1581,-117.3506,75.81,91,100,1.01
21,21,Masallatah,LY,2022-09-13 15:30:13,32.6167,14.0000,81.59,53,0,11.50
22,22,Taketa,JP,2022-09-13 15:30:13,32.9652,131.3785,77.79,98,75,4.21
28,28,Coahuayana,MX,2022-09-13 15:30:15,18.7333,-103.6833,82.65,73,100,1.48

In [27]:
preferred_cities_df.count()

City_ID       186
City          186
Country       185
Date          186
Lat           186
Lng           186
Max Temp      186
Humidity      186
Cloudiness    186
Wind Speed    186
dtype: int64

In [30]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1         Caravelas      BR     81.95 -17.7125  -39.2481
2              Faya      SA     82.51  18.3851   42.4509
3           Lincoln      US     77.14  40.8000  -96.6670
4     Casambalangan      PH     79.38  18.3765  122.1274
9   Arraial Do Cabo      BR     82.36 -22.9661  -42.0278
14       Georgetown      MY     81.95   5.4112  100.3354
20         Carlsbad      US     75.81  33.1581 -117.3506
21       Masallatah      LY     81.59  32.6167   14.0000
22           Taketa      JP     77.79  32.9652  131.3785
28       Coahuayana      MX     82.65  18.7333 -103.6833

In [34]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Caravelas,BR,81.95,-17.7125,-39.2481,Pousada dos Navegantes
2,Faya,SA,82.51,18.3851,42.4509,املاك خالد الشعشوع
3,Lincoln,US,77.14,40.8000,-96.6670,Courtyard by Marriott Lincoln Downtown/Haymarket
4,Casambalangan,PH,79.38,18.3765,122.1274,Villa Saturnina
9,Arraial Do Cabo,BR,82.36,-22.9661,-42.0278,Pousada Porto Praia
14,Georgetown,MY,81.95,5.4112,100.3354,Cititel Penang
20,Carlsbad,US,75.81,33.1581,-117.3506,Carlsbad Inn Beach Resort
21,Masallatah,LY,81.59,32.6167,14.0000,Mustafa Taher Sowaidan
22,Taketa,JP,77.79,32.9652,131.3785,Cue Hostel
28,Coahuayana,MX,82.65,18.7333,-103.6833,El rranchito michuacan de ocampos

In [37]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [40]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]